/* css global reset */
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-weight: 400;
  letter-spacing: 0.05rem; }

* {
  font-family: 'RocknRoll One', sans-serif; }

body {
  height: 100vh;
  width: 100vw;
  background: url("/assets/img/bonsai.jpg") center no-repeat;
  background-size: cover; }

.mainTitle {
  font-size: 5rem;
  margin: 0 auto;
  display: inline-block;
  margin-bottom: 5rem; }

.header {
  height: 10vh;
  width: 100%;
  margin-bottom: 5rem;
  background: rgba(230, 230, 230, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem; }
  .header__trollogo img {
    margin-right: 2rem; }
  .header__trollogo a:link,
  .header__trollogo a:visited,
  .header__trollogo a:active {
    font-weight: bold;
    font-size: 3.2rem;
    color: black;
    text-decoration: none; }
  .header__auth {
    display: flex;
    align-items: center; }
    .header__auth button {
      outline: none;
      margin-left: 2rem;
      height: 3.2rem;
      border: 2px solid transparent;
      padding: 1rem 2rem;
      border-radius: 0.4rem;
      display: flex;
      align-items: center;
      transition: all 0.2s ease-in; }
      .header__auth button a:link,
      .header__auth button a:active,
      .header__auth button a:visited {
        color: black;
        text-decoration: none;
        transition: all 0.2s ease-in; }
    .header__auth--signup:hover, .header__auth--login:hover {
      border: 2px green solid; }
    .header__auth--signup:hover a, .header__auth--login:hover a {
      color: green !important; }
    .header__auth--logout:hover {
      border: 2px red solid; }
    .header__auth--logout:hover a {
      color: red !important; }

main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem; }

.todoContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: auto; }
  .todoContainer__list {
    background: rgba(230, 230, 230, 0.4);
    border: 0.2rem solid black;
    border-radius: 0.8rem;
    padding: 1rem 2rem;
    width: 30%;
    height: auto; }
    .todoContainer__list__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid black; }
      .todoContainer__list__header h2 {
        font-size: 3rem; }
    .todoContainer__list__form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 1rem; }
      .todoContainer__list__form input {
        padding: 0rem 0.5rem;
        height: 3.2rem;
        border-radius: 0.8rem;
        border: transparent; }
      .todoContainer__list__form button {
        background: transparent;
        outline: none;
        border: 0px;
        cursor: pointer; }
      .todoContainer__list__form .datePicker {
        display: inline-block;
        position: relative;
        width: 3.2rem;
        height: 3.2rem; }
        .todoContainer__list__form .datePicker__button {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-image: url("/assets/img/calendar.png"); }
        .todoContainer__list__form .datePicker input {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          opacity: 0;
          cursor: pointer;
          box-sizing: border-box; }
          .todoContainer__list__form .datePicker input::-webkit-calendar-picker-indicator {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            cursor: pointer; }
      .todoContainer__list__form .addBtn {
        transition: all 0.1s ease-out;
        transform: translateY(0.2rem); }
        .todoContainer__list__form .addBtn:active {
          border-radius: 60%;
          transform: translateY(0.3rem);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.task {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem; }
  .task li {
    list-style-type: none;
    margin-right: 0.5rem; }
    .task li.urgentTask {
      color: red; }
  .task form button {
    outline: none;
    border: 0px;
    cursor: pointer;
    background: transparent;
    transition: all 0.2s ease-in; }
    .task form button:hover {
      transform: rotateY(180deg); }

.signUpSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  border: 0.2rem solid black;
  padding: 2rem 2rem;
  border-radius: 0.8rem;
  background: rgba(230, 230, 230, 0.4); }
  .signUpSection h1 {
    margin-bottom: 3rem; }
  .signUpSection .signUpForm {
    width: 80%;
    display: flex;
    flex-direction: column; }
    .signUpSection .signUpForm__field {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem; }
      .signUpSection .signUpForm__field input {
        width: 50%; }

.loginSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  border: 0.2rem solid black;
  padding: 2rem 2rem;
  border-radius: 0.8rem;
  background: rgba(230, 230, 230, 0.4); }
  .loginSection h1 {
    margin-bottom: 3rem; }
  .loginSection .loginForm {
    width: 80%;
    display: flex;
    flex-direction: column; }
    .loginSection .loginForm__field {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem; }
      .loginSection .loginForm__field input {
        width: 50%; }
