.header {
    height: 10vh;
    width: 100%;
    margin-bottom: 8rem;
    background: rgba(230, 230, 230, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 3rem;

    &__trollogo {
        img {
            margin-right: 2rem;
        }

        a:link,
        a:visited,
        a:active {
            font-weight: bold;
            font-size: 3.2rem;
            color: $color-font;
            text-decoration: none;
        }
    }

    &__auth {
        display: flex;
        align-items: center;

        button {
            font-size: 1.6rem;
            font-weight: bold;
            outline: none;
            margin-left: 2rem;
            height: 3.2rem;
            border: 2px solid transparent;
            padding: 1rem 3rem;
            border-radius: 0.4rem;
            display: flex;
            align-items: center;
            transition: all 0.2s ease-in;

            a:link,
            a:active,
            a:visited {
                color: $color-font;
                text-decoration: none;
                transition: all 0.2s ease-in;
            }

            &:hover {
                color: #fff;
            }
        }

        &--signup,
        &--login {
            &:hover {
                border: 2px $color-green solid;
            }

            &:hover a {
                color: $color-green !important;
            }
        }

        &--logout {
            &:hover {
                border: 2px $color-red solid;
            }

            &:hover a {
                color: $color-red !important;
            }
        }
    }
}
